.custom-card.card {
  background: #fff;
  border-radius: 13px;
  position: relative;
  margin: 0 12px;
  box-shadow: 0 10px 16px 0 #ebeeed;
  border: unset;
}
.custom-card.card .card-image-max {
  /* border-radius: 5px; */
  /* padding: 15px; */
  min-height: 134px;
  width: 100%;
}
.custom-card.card a {
  display: inline-block;
  font-size: 1.3rem;
  line-height: 1;
  text-decoration-line: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 12px;
  color: inherit;
  transition: color 0.2s ease-out;
}
.custom-card.card a:hover {
  color: var(--purple);
}
.card-body-inner {
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
