.nav-bar-bg {
  background-color: var(--main-bg);
}
.header-nav:hover,
.header-nav.active {
  padding-bottom: 2px !important;
  border-bottom: 3px solid var(--purple);
}
#header {
  position: fixed;
  top: 0;
  z-index: 2;
}
#dropdown-basic-button.dropdown-toggle::after {
  display: none;
}
#dropdown-basic-button ~ .dropdown-menu {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  gap: 5px;
  padding: 5px 15px;
}
