.nav-bar-bg {
  background-color: var(--main-bg);
}
.header-nav:hover,
.header-nav.active {
  padding-bottom: 2px !important;
  color: var(--dark-blue);
}
#dropdown-basic-button.dropdown-toggle::after {
  display: none;
}
#dropdown-basic-button ~ .dropdown-menu {
  line-height: 2;
}
