#app {
  overflow-x: hidden;
}

.title {
  color: var(--light-dark);
}
.bg-light-orange {
  background-color: var(--light-orange);
}
.light-dark {
  color: var(--dark-blue);
}
.left-description {
  backdrop-filter: blur(7px);
  overflow-y: auto;
  overflow-x: hidden;
}
.paragraph.roboto-regular {
  color: var(--bs-secondary-color);
  font-size: medium;
  text-align: justify;
}
/* .left-text {
  background-color: var(--beige);
} */
.purple-bg {
  background-color: var(--purple);
}
/* .pt-sticky {
  padding-top: 125px;
} */
.right-image img {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
@media only screen and (max-width: 600px) {
  .pt-sticky {
    padding-top: 17px;
  }
}
